
{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
Registrarse
{% endblock title%}
{% block estilos %}
<section id="" class="">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles-login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock estilos %}
{% block scripts %}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'js/index.js' %}"></script>

{% endblock scripts %}


{% block content %}
<div class="logmod">
    <div class="logmod__wrapper">
    <div class='col-sm-4'>
    </div>
    <div class='col-sm-4' style="align-items: center;justify-content: center; ">
       <h2 class='text-align-center'><strong>Registrarte Gratis!</strong></h2><br/>
       <form method="post" action=".">

                <form method="post">
                {% csrf_token %}

                        {{ formu|crispy}}
                          {{ form|crispy}}
                           <input type="hidden" name="id_persona" value="0" />
                          <button type="submit"> guardar</button>

                        <!-- <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Registrarme' %}" /> -->

                        <div class="simform__actions">
                            <span class="simform__actions-sidetext">Al crear una cuenta acepta nuestros <a class="special" href="#" target="_blank" role="link">Términos & Privacidad</a></span>
                        </div>

                </form>
                    <!-- <input type="hidden" name="cedula_identidad" value="0" /> -->

            <div class='row'>
                <div class='col-sm-6 col-sm-offset-3 text-align-center'>
                    <p>Ya tienes cuenta? <a href="{% url 'auth_login' %}"> Iniciar Sesión.</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<div class='col-sm-4'>
    </div>

<hr/>
</section>
{% endblock %}