{% extends 'base.html' %}

{% block content %} 
{% load staticfiles %}
<section id="" class="">
         <!-- container -->
    <div class="container">
    <div class="sixteen columns">
        <table class="table">
            <thead>
                <th>Item</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>eliminar</th>
            </thead>
            <tbody>
                
            {% for item in cart %}
            <tr>
                <td>{{item.product.nombre}}</td>
                <td>{{item.product.}}</td>
                <td id="precio{{item.product.id}}">{{item.unit_price}}</td>
                <td>
                        <div item_id="{{item.product.id}}" class="qtyminus"> <button class=" btn-primary">-</button>-</div>
                        <input id="cant{{item.product.id}}" type='text' name="quantity" value='{{item.quantity}}' class="qty" />
                        <div item_id="{{item.product.id}}" class="qtyplus" ><button class=" btn-primary">+</button>+</div>
                </td>
                <td  class="total_item" id="total{{item.product.id}}">{{item.total_price}}</td>
                <td><a href="{% url 'productos:remove_from_cart' item.product.id %}?next={{ request.get_full_path }}" class="remove_from_cart">X</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>    
    </div>


    <!-- Cart Totals -->
    <div class="eight columns cart-totals">
        <h3 class="headline">Cart Totals</h3><span class="line"></span><div class="clearfix"></div>

        <table class="table">

            <tr>
                <th>Cart Subtotal</th>
                <td id="totales"><strong></strong></td>
            </tr>

            <tr>
                <th>Shipping and Handling</th>
                <td>Free Shipping</td>
            </tr>

            <tr>
                <th>Order Total</th>
                <td><strong>$178.00</strong></td>
            </tr>

        </table>
        <br>
        <!-- <a href="#" class="calculate-shipping"><i class="fa fa-arrow-circle-down"></i> Calculate Shipping</a> -->
    </div>

</div>
</section>


<div class="margin-top-40"></div>
<script type="text/javascript">
  
    function calcular_total() {

        var total_item= 0;
        $(".total_item").each(function(){
             console.log($(this).text());
             total_item+=+$(this).text();
        });
        console.log("total de los item"+total_item);

        $("#totales").text(total_item.toFixed(2));
        }

    $(".qtyplus").click(function(){
        console.log("sumando item");
        var item_id=$(this).attr("item_id");
        console.log("item_id:"+item_id);
        var precio=$("#precio"+item_id).text();
        console.log("precio:"+precio);
        var cantidad=+$("#cant"+item_id).val()+1;
        $("#cant"+item_id).val(cantidad);
        console.log("cantidad: "+cantidad);
        
        var total= precio*cantidad;
        console.log ("total:"+total);

         $("#total"+item_id).text(total);
         calcular_total();



    // //calculos de totales por item 
    // $(".qtyminus").click(function(){
    //     var item_id= $(this).attr("item_id");
    //     console.log(item_id);
    //     var price=$("#price"+item_id).text();
    //     console.log("precio="+price)

    //     var cuantity= $("#qty_product"+item_id).val()-1;
    //     console.log("cantidad"+ cuantity);
    //     $("#qty_product"+item_id).val(cuantity);

    //     var total= cuantity*price;
    //     $("#total_item"+item_id).text(total);
    //     Calcular_totales();
    // });

    // $(".qtyplus").click(function(){
    //     var item_id= $(this).attr("item_id");
    //     console.log(item_id);
    //     var price=$("#price"+item_id).text();
    //     console.log("precio="+price)

    //     var cuantity= +$("#qty_product"+item_id).val()+1;
    //     console.log("cantidad"+ cuantity);
    //     $("#qty_product"+item_id).val(cuantity);

    //     var total= cuantity*price;
    //     $("#total_item"+item_id).text(total);
    //     Calcular_totales();



     });


</script>
{% endblock %}
