{% extends 'base.html' %}
{% block content %} 
{% load staticfiles %}
<section id="" class="">
         <!-- container -->
    <div class="container">
    <div class="sixteen columns">
    carrito={{cart.cart.id}}
        <table class="table table-striped table-bordered" >
            <thead>
                <th>Producto</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Stock</th>
                <th>Total</th>
                <th>eliminar</th>

            </thead>
            <tbody>
                
            {% for item in cart %}
            <tr>
                <td>{{item.product.nombre}}</td>
                <td>{{item.product.}}</td>
                <td id="precio{{item.product.id}}">{{item.unit_price}}</td>
                <td>
                        <div item_id="{{item.product.id}}" class="qtyminus"> <button class=" btn-primary">-</button>-</div>
                        <input id="cant{{item.product.id}}" type='text' name="quantity" value='{{item.quantity}}' class="qty" />
                        <div item_id="{{item.product.id}}" class="qtyplus" ><button class=" btn-primary">+</button>+</div>
                </td>
                <td>{{item.product.stock}}</td>
                <td  class="total_item" id="total{{item.product.id}}">{{item.total_price}}</td>
                <td><a href="{% url 'productos:remove_from_cart' item.product.id %}?next={{ request.get_full_path }}" class="remove_from_cart">X</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>    
    </div>


    <!-- Cart Totals -->
    <div class="eight columns cart-totals">
        <h3 class="headline">Total de Carrito</h3><span class="line"></span><div class="clearfix"></div>

        <table class="table table-striped table-bordered">

            <tr>
                <th>Subtotal del carrito</th>
                <td id="subtotal"><strong></strong></td>
            </tr>

            <tr>
                <th>iva</th>
                <td id= "iva"><strong>$00.00</strong></td>
            </tr>
            <tr>
                <th>total</th>
                <td id= "total"><strong>$00.00</strong></td>
            </tr>


        </table>
        <br>
        <!-- <a href="#" class="calculate-shipping"><i class="fa fa-arrow-circle-down"></i> Calculate Shipping</a> -->
    </div> 
    <div class="col-md-12 pull-right" >
    <form method="POST" action="{% url 'facturas:factura_crear' %}">
    {% csrf_token %}
        <input type="hidden" name="cart_id" value="{{cart.cart.id}}">
        <button type="submit" class="btn btn-primary">Realizar Compra</button>
    </form>
    </div>

</div>
</section>


<div class="margin-top-40"></div>
<script type="text/javascript">
    calcular_total();
    function calcular_total() {

        var subtotal= 0;

        var iva= 0;
        var total= 0;

        $(".total_item").each(function(){
             console.log($(this).text());
             subtotal+=+$(this).text();


        });
        console.log("total de los item"+subtotal);
        iva=subtotal*0.12;
        total=subtotal+iva

        $("#subtotal").text(subtotal.toFixed(2));
        $("#iva").text(iva);
        $("#total").text(total);

        // $("#total").text(total_item * 0.12);        
        
        }


    $(".qtyplus").click(function(){
        console.log("sumando item");
        var item_id=$(this).attr("item_id");
        console.log("item_id:"+item_id);
        var precio=$("#precio"+item_id).text();
        console.log("precio:"+precio);
        var cantidad=+$("#cant"+item_id).val()+1;
        $("#cant"+item_id).val(cantidad);
        console.log("cantidad: "+cantidad);
        
        var total= precio*cantidad;
        console.log ("total:"+total);

         $("#total"+item_id).text(total);
         calcular_total();

    // });


    // calculos de totales por item 
    $(".qtyminus").click(function(){
        var item_id= $(this).attr("item_id");
        console.log(item_id);
        var precio=$("#precio"+item_id).text();
        console.log("precio="+precio)

        var cantidad= $("#cant"+item_id).val()-1;
        console.log("cantidad"+ cantidad);
        $("#cant"+item_id).val(cantidad);

        var total= cantidad*precio;
        $("#total"+item_id).text(total);
        Calcular_totales();
    });
     });


</script>
{% endblock %}
