{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}adoption{% endblock title %}
{% block content %} 
<section id="galeria" class="pages">
         <div class="jumbotron" data-stellar-background-ratio="0.5">
            <!-- Heading -->
            <div class="jumbo-heading" data-stellar-background-ratio="1.2">
               <h1>Producto</h1>
            </div>
         </div>
         <div class="container">
            <div> 
<section id=""  class="col-md-6 col-md-offset-3">
<h4 align="center"style="text-align:'center'">Crear Producto</h4>
         		<form enctype='multipart/form-data'method="post"> 
         		{% csrf_token %}
               {% bootstrap_form form %}
    				<button type="submit">Guardar</button>
				</form>
         	</div>
            <div class="nav-gallery col-md-12">
               <!-- Gallery Navigation -->
               <div class="text-center col-md-12">
                  <ul class="nav nav-pills category text-center" role="tablist" id="gallerytab">
                     <li class="active"><a href="#" data-toggle="tab" data-filter="*">Productos</a>
                  </ul>
               </div>
            </div>
         <!-- /nav-gallery -->
            <!-- Gallery Starts-->
            
         <!-- /container -->
      </section>   
{% endblock content %}
