{% extends 'base.html' %}
{% block title %}
Proforma
{% endblock  %}
{% block content %}
{% load staticfiles %}
<section id="" class="">
       <div class="text-center col-md-12">
                  <ul class="nav nav-pills category text-center" role="tablist" id="gallerytab">
                     <li class="active"><a href="#" data-toggle="tab" data-filter="*"> Listado de Proformas</a>
                  </ul>
               </div>
    <div class="container">
    <div class="sixteen columns">
<table class="table table-striped table-bordered" >
            <thead>
              <tr>
                <th>fecha</th>
                <th>iva</th>
                <th>total</th>
                <th>ver</th>
              </tr>
            </thead>
            <tbody>
              {% for proforma in proformas %}
                <tr>
                  <td>{{proforma.fecha}}</td>
                  <td>{{proforma.iva}}</td>
                  <td>{{proforma.total}}</td>
                  <td>
                  <a href="{% url 'proformas:ver' proforma.id  %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>

                  </td>
                </tr>
              {% endfor %}
            </tbody>
</table>
</section> 
{% endblock  %}
	

