{% extends 'base.html' %}
{% block title %}Factura{% endblock %}
{% block content %}
{% load staticfiles %}
      <link href="{% static 'css/print.css' %}" rel="stylesheet" type="text/css">
      <script src="{% static 'js/jQuery.print.js'%}"></script>

 <h2></h2>
 <section id="galeria" class="pages">
         <div class="jumbotron" data-stellar-background-ratio="0.5">
            <!-- Heading -->
            <div class="jumbo-heading" data-stellar-background-ratio="1.2">
               <h1>Factura</h1>
            </div>
         </div>
         <div class="container">
            <div class="nav-gallery col-md-12">
               <!-- Gallery Navigation -->
               <div class="text-center col-md-12">
                  <ul class="nav nav-pills category text-center" role="tablist" id="gallerytab">
                     <li class="active"><a href="#" data-toggle="tab" data-filter="*">Factura</a>
                  </ul>
               </div>
            </div>
         <!-- /nav-gallery -->
            <!-- Gallery Starts-->
            <div class="row">
               <div class="col-md-12 margin1">
                  <div id="lightbox">
                  
                   <!--div factura -->
                  <div class="col-md-8" id="printable">
                     
                     <!--tabla cabecera -->
                     <table class="table table-striped table-bordered" id="factura">
                        <thead>
                           <th>
                              <td colspan="2">imagen de la finca</td>
                              <td colspan="2"> <strong>numero:</strong> {{factura.numero}}</td>
                           </th>
                        </thead>
                        <tbody>
                           <tr>
                              <td><strong>  Cliente</strong></td>
                              <td colspan="3">{{user.get_full_name}}</td>
                           </tr>
                           <tr>
                              <td><strong>Ruc o Ci</strong></td>
                              <td>{{user.cliente.cedula}}</td>
                              <td><strong>lugar</strong></td>
                              <td>{{user.cliente.lugar}}</td>
                           </tr>
                           <tr>
                              <td><strong>direccion</strong></td>
                              <td>{{user.cliente.direccion}}</td>
                              <td><strong>telefono</strong></td>
                              <td>{{user.cliente.telefono}}</td>
                           </tr>
                        </tbody>
                     </table>

                     <!--tabla detalle -->

                     <table  class="table table-striped table-bordered" id="detalle">
                     <thead>
                        <tr>
                           <th>cantidad</th>
                           <th>descripcion</th>
                           <th>valor_unitario</th>
                           <th>valor_total</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for detalle in factura.detalle_set.all %} 
                        <tr>
                           <td>{{ detalle.cantidad}}</td>
                           <td>{{detalle.producto}}</td>
                           <td>{{detalle.producto.valor_producto}}</td>
                           <td class="total_item">{{detalle.precio}}</td>
                        </tr>
                        
                        {% endfor %}
                        
                     </tbody>
                     </table>

                     <!--tabla totales -->
                      <table class="table table-striped table-bordered">
                           <tr>
                               <th>Subtotal del carrito</th>
                               <td id="subtotal"><strong></strong></td>
                           </tr>
                           <tr>
                               <th>iva</th>
                               <td id= "iva"><strong>$00.00</strong></td>
                           </tr>
                           <tr>
                               <th>total</th>
                               <td id= "total"><strong>$00.00</strong></td>
                           </tr>
                       </table>
                  </div>
                  <!--  div  de imprimir-->
                  <div class="col-md-8 " >
                     <button type="button" class="btn btn-primary print-link no-print"  onclick="jQuery('#printable').print()">imprimir
                     <button type="button" class="btn btn-primary " >Ver  mis Facturas
                  </div>
                  </div>
                  <!-- /lightbox-->
               </div>
               <!-- /col-md-12-->
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </section>  

<script type="text/javascript">
    calcular_total();
    function calcular_total() {

        var subtotal= 0;

        var iva= 0;
        var total= 0;

        $(".total_item").each(function(){
             console.log($(this).text());
             subtotal+=+$(this).text();


        });
        console.log("total de los item"+subtotal);
        iva=subtotal*0.12;
        total=subtotal+iva

        $("#subtotal").text(subtotal.toFixed(2));
        $("#iva").text(iva);
        $("#total").text(total);

        // $("#total").text(total_item * 0.12);        
        
        }
        </script>

{% endblock content %}
