{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %} 
<section id="" class="">
         <!-- container -->
    <div class="container">
      <div class="jumbotron" data-stellar-background-ratio="0.5">
            <!-- Heading -->
            <div class="jumbo-heading" data-stellar-background-ratio="1.2">
               <h1>Clientes</h1>
            </div>
         </div>
		<h4 align="center"style="text-align:'center'">Registrarse</h4>
		<div class="col-md-6 col-md-offset-4" >
		<div class="col-md-8 col-sm-6 col-xs-12">
			{% block title %}{% endblock title %}
			<form method= "POST" action="{% url 'clientes:registro' %}">
			 {% csrf_token %}
			 {% bootstrap_form cliente_form %}
			 {% bootstrap_form user_form %}
			 {{  form_cliente }}
			 {{  form_user }}
			 {% buttons %}
			    <button type="submit" class="btn btn-primary">
			    {% bootstrap_icon "star" %} Guardar
			    </button>
			  	{% endbuttons %}
			</form>
		</div>
		</div>
    </div>

</section>
<script src="{% static 'js/validar_cedula.js'%}"></script>
<script type="text/javascript">
	$('#id_cedula').change(function(e){
		validar("id_cedula", e);
	});
</script>
{% endblock content %}

